<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><b><h1>Create Your Own Problem</h1></b></center>
    <br>
    <br>
    <form action="/banana11" method="post">
        <div>Please enter the name of your problem. Note that it can not be the same as an existing problem <input id="name"></div>
        <br>
        <div>Please enter the instructions for your problem <input id="instructions"></div>
        <br> 
        <div>Please enter any hints if you wish to provide them <input id="hints"></div>
        <br>
        <div>Please enter the definition of the function. Note that it can not be the same as an existing function definition. <input></div>
        <br>
        <div>Please enter solution code for your problem. <textarea id="solution"> </textarea></div>
        <br>
        <div>Please enter the original inputs enclosed in parenthesis and seperated by commas. For example, (1),(2),(42) (</div>
    </form>
    
</body>
</html>