{% extends "base.html" %}

{% block content %}
    <html>
    <head>
    <style>
    a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: red;
    }
    </style>
    </head>
    <body>
    
    <h1 style="color:red">Incorrect, that is a while loop.</h1>
    
    <a href="http://127.0.0.1:5000/loopquiz" target="_blank">Try Again</a>
    
    </body>
    </html>
{% endblock %}