<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="result"><p>...</p></div>

    <script>
        const mydata = document.getElementById('form');
mydata.addEventListener('submit', function(e) {
    e.preventDefault(); //prevents the Submit button from submitting a form
    const formData= new FormData(mydata); //used to send the form data
    fetch('http://127.0.0.1:5000/idk', {
        method: "POST",
        body: formData //updates the url that we fetching so that we can get the data we want!
    })
    .then(function (response) {
        return response.text();
    })
    .then(function (data){
        console.log(data)
        document.getElementById("result1").innerHTML = data;

    })
    .catch(function(error) {
        console.error(error);
    })
});
    </script>
    
</body>
</html>