{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<test>
    <test1>
        <section class = "input_section">
        <h1>Enter a program </h1>
        <form method = post> 
        <input type=text name =text>
        <div><input id="nico" type=submit value=Submit></div>
        </form> 
        </section> 
    </test1>
    <test1>
        <section class = "result_section">
        <h1>The unique integer is:</h1>
        <p>...</p>
        </section>
    </test1>
</test>

{% endblock %}