<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<div id="delly">...</div>
</head>
<body>
 <img src="" id="pic"/>
</body>
<script>
    testfunction()
        .then(response=> {
        console.log("the response worked");
    })
        .catch(error => {
        console.log('error')
    });
async function testfunction() {
    const response= await fetch('breh.png');
    const blob = await response.blob();
    document.getElementById("pic").src = URL.createObjectURL(blob)
}
    // fetch('breh.png').then(response => {
    //     console.log(response);
    //     return response.blob();
    // });
</script>
</html>